<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column-left">
                <img src="../../assets/tarun.jpeg" alt="">
            </div>
            <div class="right">
                <div class="text">I'm Tarun Pareta and I'm a <span class="typing-2"></span></div>
                <p>Hi, my name is Tarun Pareta, and I am currently pursuing my B.Tech in Computer Science from
                    Government Engineering College Jhalawar. I am currently learning "Web development" and "DSA" and
                    I am passionate about improving my coding skills. I am enthusiastic about exploring the vast
                    possibilities of the computer science field and looking forward to applying my skills to
                    practical projects in the future.</p>
                <a href="" download="Tarun_Resume">Download CV</a>
            </div>
        </div>
    </div>
</section>