<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="#">Portfo<span>lio.</span></a></div>
        <div style="color: white;">{{toDate| date: 'dd/MM/yyyy'}}</div>
        <ul class="menu">
            <li><a routerLink="home" class="menu-btn">Home</a></li>
            <li><a routerLink="about" class="menu-btn">About</a></li>
            <li><a routerLink="service" class="menu-btn">Services</a></li>
            <li><a  routerLink="project" class="menu-btn">Projects</a></li>
            <li><a routerLink="skill" class="menu-btn">Skills</a></li>
            <!-- <li><a href="#teams" class="menu-btn">Teams</a></li> -->
            <li><a routerLink="contact" class="menu-btn">Contact</a></li>
            <li><a routerLink="forms" class="menu-btn">Forms</a></li>
            <!-- <li><a routerLink="admin" class="menu-btn">Admin</a></li> -->
        </ul>
      
    </div>
</nav>