section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
 .services{
    font-family: 'Poppins', sans-serif;
}
.serv-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 74px;
}



.services, .teams{
    color:#0b0b0b;
    background: #f6f3f3;
}

.services .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.card{
    width: calc(33% - 20px);
    background: #222;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
