<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My services</h2>
        <div class="serv-content" *ngIf="service">
            <div class="card" *ngFor="let service of service">
                <div class="box" >
                    <i class="fas fa-code"></i>
                    <div class="text">{{service.name}}</div>
                    <p>{{service.description}}
                    </p>
                </div>
            </div>
            <!-- <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">Backend WebDevelopment</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">Apps Development</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.
                    </p>
                </div>
            </div> -->
            
        </div>
    </div>

</section>