
<section class="home" id="home">
    <div class="max-width">
        <div class="newHome">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Tarun Pareta</div>
                <div class="text-3">And I'm a <span class="typing">{{position}}</span></div>
                <a style="text-decoration: none;" (click)="hire()">Hire me</a>
            </div>
            <div class="image">
                <img [src]="image" alt="">
            </div>
        </div>
        <!-- linkdln start -->
        <div class="page-1 ">



            <div class="social container">
                <div> <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
                <div><a href="https://www.linkedin.com/in/tarun-pareta-610259263" target="_blank"> <i class="fa-brands fa-linkedin"></i></a></div>
                <div><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></div>
                <div><a href="https://github.com/tarun08pareta?tab=repositories" target="_blank"><i
                            class="fa-brands fa-github"></i></a></div>
            </div>



        </div>
        <!-- linkdln end          -->

    </div>
    <!-- <div class="image"><img src="images/techinacal.png" alt=""width="420px"></div> -->
</section>